@import url("//fonts.googleapis.com/css?family=Open+Sans:400,700,900,300");

*, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans',serif;
    font-weight: 300;
}

.jumbotron {
    background: url(img/ITmanagement.png) no-repeat center center fixed;
    color: #ffffff;
    background-size: cover;

}

.jumbotron p{
    padding: 20px 0;
}

.jumbotron .media{
    margin: 50px 0;
}
.jumbotron .media-body h1{
    margin-top: 50px;
}
.title{
    font-weight: 600;
}


section.form-education{
    color: #ffffff;
    background: #52AD81;
    margin: 40px 0;
    padding: 40px 0;
}

section.form-education h2{
    margin-bottom: 20px;
}

section.form-education .col-md-8{
    padding-left: 30px;
}
.form-education img{
    width: 100%;
}



.pricing-intro{
    margin-bottom: 70px;
}

.pricing-table .panel {
    background: #eeeeee;
}
.pricing-table .panel-danger {
    border: 1px solid #CD5A48;
}
.pricing-table .panel-info {
    border: 1px solid #3A87B0;
}
.pricing-table .panel-success {
    border: 1px solid #468847;
}
.pricing-table .panel-danger .panel-heading{
    background: #CD5A48;
    color: #ffffff;
}
.pricing-table .panel-info .panel-heading{
    background: #3A87B0;
    color: #ffffff;
}
.pricing-table .panel-success .panel-heading{
    background: #468847;
    color: #ffffff;
}
.pricing-intro h2{
    margin-bottom: 20px;
}

.jumbotron .panel-info{
    color: #000000;
}
