
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'PT Serif', serif;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    white !important;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    white !important;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    white !important;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.panel-org-info, .panel-org-info *{
    background: rgba(0,0,0,0);
}
.navbar-inverse .navbar-toggle .icon-bar{
    background: #000000;
}
.footer {
    padding: 20px;
    background: #ffffff;
    color: #000000;
}

.navbar{
    background: rgba(255,255,255,1);
    color: #000000;
    border-bottom: none;
}
.navbar.shrink{
    background: rgba(255,255,255,1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.navbar-inverse .navbar-nav>li>a,
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    font-weight: 400;
    color: #333;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #000000;

}
.footer .row{
    display: flex;
    flex-wrap: wrap;
}
.home .panel{
    text-align: left;
}
.footer img.zstu {
    width: 50%;
    text-align: center;
}
.home .btn-primary{
    background: #64B5F6;
}
.home {
    background: url(../img/ManagementIT.jpg) no-repeat center center fixed;
    color: #fff;
    background-size: cover;

}

.home .panel-info {
    color: #000000;
}

.home .panel-info{
    border: 1px solid #E3F2FD;
}

.home .panel-info .panel-heading{
    background: #E3F2FD;
    color: #000000;
}

.program-topic-progress{
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 40px;
    display: flex;
}
.program-topic-progress > *{
    color: #ffffff;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #ffffff;
}

.home-inner-wrapper {
    padding: 40px 0;
    background: rgba(0, 0, 0, 0.4);
}

.home p {
    padding: 20px 0;
}

.home .media {
    margin: 50px 0;
}

.home .media-body h1 {
    margin-top: 50px;
}

.title {
    font-weight: 600;
}

.level-up {
    padding: 40px 0;
}

section.form-education {
    margin: 40px 0 0 0;
    background: url(../img/EducationForm.jpg) no-repeat center center fixed;
    color: #fff;
    background-size: cover;
}

section.contact{
    background: url(../img/contactUs.jpg) no-repeat center center fixed;
    color: #fff;
    background-size: cover;
}
section.contact .contact-inner{
    padding: 40px 0;
    background: rgba(0,0,0,0.4);
}
.form-education-inner-wrapper {
    background: rgba(0, 0, 0, 0.7);
    padding: 40px 0;
}

section.form-education h2 {
    margin-bottom: 20px;
}

section.form-education .col-md-8 {
    padding-left: 30px;
}

.form-education img {
    width: 100%;
}

.pricing-intro {
    margin-bottom: 70px;
}

.pricing-table .panel {
    background: #eeeeee;
}


.pricing-table .panel-info {
    border: 1px solid #BBDEFB;
}

.pricing-table .panel-success {
    border: 1px solid #BBDEFB;
}

.pricing-table .panel-info .panel-heading {
    background: #90CAF9;
    color: #000000;
}

.pricing-table .panel-success .panel-heading {
    background: #BBDEFB;
    color: #000000;
}

.pricing-intro h2 {
    margin-bottom: 20px;
}

.program {
    background: #e6e6e6;
    padding: 40px 0;
}

.program .color{
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 4px;
}

.program ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.program ul li {
    margin: 0;
    padding: 4px 3px;
}

.sub-program-name {
    width: 100%;
}

@media (min-width: 992px) {
    .sub-program-name {
        width: 19%;
    }
}

.sub-program-name {
    border-right: 2px solid #3A87B0;
    border-bottom: 1px solid #3A87B0;
    background: #ffffff;
    margin: 4px;
    padding: 5px 10px;
}

.sub-program-name i {
    margin-right: 5px;
}

.sub-program-name .title {
    padding-bottom: 5px;
    border-bottom: 1px dashed #3A87B0;
}
.sub-program-name .title>* {
    font-weight: bold;
}
.program-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-item {
    padding: 10px 5px;
}

.contact-item > * {
    display: block;
    font-weight: 500;
}

.contact-item > *:first-child {
    display: block;
    font-weight: 900;
}

.pressRelease{
    color: #000000;
    background: #ffffff !important;
}
.pressRelease p{
    text-indent: 30px;
}
.press-release-inner-wrapper{
    padding: 40px 0;
    background: rgba(0,0,0,0.1);
}

.contact .btn.btn-come-student,
.contact .btn.btn-send{
    background: rgba(21,101,192,0.8);
    border: 1px solid #1565C0;
}
.contact textarea,
.contact input[type='text']{
    background: rgba(21,101,192,0.8);
    margin: 20px 0;
    color: white;
}

.contact textarea{
    resize: none;
    background: rgba(21,101,192,0.8);
    min-height: 300px;
    margin: 20px 0;
    color: white;
}

@media (min-width:992px) {
    .contact .btn.btn-come-student {
        margin-top: 30%;
    }
}

#contactUsBlock > *{
    color: white !important;
    margin-top: 30px;
}